*{margin:0;padding:0;text-decoration:none}
.navbar_brand_custom{
    padding: 0px 5px 2px 3px;
}
.navbar-default {
    background-color: transparent !important;
    border: none !important;
}

@media screen and (max-width:1000px){
    
}