
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Artgoobi || Home</title>
        <link rel="shortcut icon" type="image/x-icon" href="http://localhost/artgoobi/images/icon.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="http://localhost/artgoobi/css/bootstrap.min.css" rel="stylesheet">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="http://localhost/artgoobi/js/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="http://localhost/artgoobi/js/bootstrap.min.js"></script>
        <link href="http://localhost/artgoobi/css/artgoobi.css" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 alert alert-success"><h2>I am</h2>

                </div>
            </div>
        </div>
    </body>
</html>

